@import "main.css";


hr{
    margin-top: 4em;
    margin-bottom: 4em;
}


.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 8em;
    margin-top: 10em;
    margin-bottom: 8em;
}

.context{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    margin-top: 4em;
    margin-bottom: 4em;

}
.row{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 4rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}



p, ul, ol{
    font-size: 1.1em;
    line-height: 160%;
    margin-top: 1em ;
    margin-bottom: 2em ;
    opacity: 0.7;
}

ul > li, ol > li{
    margin-top: 1em ;
    margin-bottom: 1em ;
    margin-left:1.5em;
    padding-left: 0.5em;
}

figure{
    text-align: center;
    display: inline-block;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 4em;

    

}


figure > img{
    width: 100%;

}

.half-size > img{
    width: 40%;

}


figcaption{
    line-height: 160%;
    text-align: center;
    font-style: italic;
    opacity: 0.5;
    margin-top: 1em;
}