:root{
  --turquoise: hsla(171, 100%, 40%,1);
  --turquoise-light: hsla(171, 100%, 41%,0.15);
  --dark-grey: hsl(0, 0%, 21%);
  --light-grey: hsl(0, 0%, 71%);
}

body{
  font-family: 'Open Sans', sans-serif;
  color: hsl(0, 0%, 21%);
  font-size: 1.2em;

  -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

}

a{
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  transition: 0.2s;

}

a:hover{
  opacity: 0.8;
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}


.workTag{
  border-radius: 6px;
  background-color: rgba(0,0,0,0.08);
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
  color:rgba(0,0,0,0.30);
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
}

.workTags{
  margin: 1.2em 0;
}

.cards{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
}

.card h1{
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
  
}

.card h2{
  font-size: 1em;
  font-weight: 200;
  margin: 0.6em 0;
}

.card{
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 0px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.10);
  transition: 0.25s ease;
}

.card:hover{
  transform:translateY(-5px);
  box-shadow: 0 6px 30px rgba(0,0,0,0.08), 0 6px 25px rgba(0,0,0,0.10);
}

#introText{
  font-size: 3em;
  font-weight: bold;
}

#intro{
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.subsectionTitle{
  font-size: 3em;

}

.smallProjects{
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.smallProjectImage {
  display: block;
  width: 170px;
  height: 170px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: solid 10px white;
  box-shadow: 0 0px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.10);
  transition: 0.25s ease;
}

.smallProjectImage:hover{
  transform:translateY(-5px);
  box-shadow: 0 3px 15px rgba(0,0,0,0.08), 0 3px 12px rgba(0,0,0,0.10);
}



.smallProjectImage img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.imgOverlay{
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--turquoise);
  height: 100%;
  width: 100%;
  transition: 0.2s ease;

}

.smallProjectImage:hover .imgOverlay{
  opacity: 0.9;
  
}

.smallProjectImage span{
  color: white;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* TOOLTIP */
.toolTip .toolTipText{
  font-family: 'Rubik', sans-serif;
  font-size: 0.8em;
  opacity: 0;
  color: var(--dark-grey);
  background-color: white;
  width: 150px;
  margin-left: -5px;
  text-align: center;
  padding: 8px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
  transition: 0.2s;
}

.toolTip:hover .toolTipText {
  opacity: 1;
  margin-left: 10px;

}

footer{
  text-align: center;
  padding-top: 30vh;
  padding-bottom: 10px;

}

footer p{
  font-size: 0.8em;
  color: var(--light-grey);
}

footer div i{
  color: var(--light-grey);
  margin: 0px 10px;
  transition: 0.2s;
}

footer div i:hover{
  opacity: 0.5;
}

/* ANIMATIONS */
