
@import url("../main4.css");


nav{
    position: fixed;
    top: 50px;
    left: 50px;
    opacity: 0.5;
    transition: 0.1s ease;
    z-index: 999;
}

.sideNav{
    width: 100px;
    position: fixed;
    top: 30%;
    left: 10%;
    z-index: 999;
    color: var(--light-grey)
}

.sideNav ul{
    list-style-type: none;
}

.sideNav li{
    
    padding: 0;
    padding-left: 10px;
    margin: 10px;
}

.sideNav li.current{
    border-left: solid 4px var(--light-grey);

}
.hero{
    height: 600px;
    background:linear-gradient(180deg, rgba(231,240,255,1) 35%, rgba(217,227,242,1) 100%);
    position: relative;
    margin-bottom: 10vh;
}

.hero img{
    position: absolute;
    right: 20%;
    top: 200px;
    max-height: 700px;
    max-width: 30%;
}

.hero h1{
    padding-top: 250px;
    font-size: 2.6em;
    margin:0;
}

.hero p{
    font-size: 1.4em;
    max-width: 50%;
}

.project-wrapper{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.overview{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 50px;
}

h1{
    font-size: 2em;
}
h5{
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 1em;
    opacity: 0.25;
}

h6{
    font-size: 1em;
    margin: 0px;

}

p{
    font-size: 0.9em;
    font-weight: 300;
    margin-top: 6px;
    margin-bottom: 1.6em;
    line-height: 1.7em;
}

strong{
    font-weight: 600;

}
ul{
    margin: 0px;
    padding-left: 1em;
    font-weight: 300;
    font-size: 0.9em;
}

ul li{
    padding-bottom: 8px;
}

.highlight{
    background-color: var(--turquoise-light);
    padding: -1px 1px;
}

section{
    padding: 3vh 0;
}

.color-bg{
    padding: 5vh 0;
    background-color:#fafafc;
}

#personas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#personas img{
    transition: 0.2s ease-out;
}

#personas img:hover{
    transform: scale(1.7);
    transition-delay: 0.6s;
}

img{
    border-radius: 6px;
}

#visitorQuotes{
    column-count:2;
    column-gap: 30px;
    background-color: #fafafc;
    padding: 60px;
    border-radius: 6px;
}

#visitorQuotes p{
    line-height: 1.6;
    font-style: italic;
    margin: 0.5;
    opacity: 0.7;
}

.zoomImg{
    transition: 0.2s ease-out;
}

.zoomImg:hover{
    transform: scale(1.7);
    transition-delay: 0.6s;
}

#videos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;

}

#videos video{
    max-width: 100%;
    box-shadow: 0 2px 8px 1px rgba(0,0,0,0.15);
    transition: 0.2s ease-out;
}

#videos div{
    text-align: center;
}

#videos video:hover{
    transform: scale(1.7);
    transition-delay: 0.6s;
}